.fruit-image{
    height:500px;
    width:60%;
}
.image-slider{
    display:flex;
    flex-direction:column;
    align-items: center;
    position:relative;
}
.btn{
    border:none;
    background:transparent;
}
.icon{
    font-size:20px;
}
.prev{
    position:absolute;
    top:50%;
    left:10%;
}
.next{
    position:absolute;
    top:50%;
    right:10%;
}
.number{
    font-size:25px;
    font-weight:600;
}